@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
/* pie de pagina  */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
footer ul {
  padding-left: 0px;
  background-color: #FFF;
  text-align: left;
  width: 100%; }

footer .whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 60px; }
  footer .whatsapp .green_watsapp {
    cursor: pointer;
    color: #297213; }

.redes_footer_index {
  display: inline-block;
  padding: 10px 20px;
  color: #0e0101;
  text-decoration: none;
  size: 20px; }
  .redes_footer_index a {
    color: black; }

.redes_footer_index:hover {
  background-color: #6ecfc7; }

.fa-brands-fa-facebook, .fa-brands-fa-instragram,
.fa-brands-fa-tiktok {
  color: blue; }

.fa-brands-fa-tiktok {
  color: #b90f80; }

.fa-brands-fa-instragram {
  color: #f68e10; }

.fa-brands-fa-facebook, .fa-brands-fa-instragram,
.fa-brands-fa-tiktok {
  width: 50px;
  text-align: center; }
  .fa-brands-fa-facebook:hover, .fa-brands-fa-instragram:hover,
  .fa-brands-fa-tiktok:hover {
    color: #0a0500;
    transform: scale(1.1); }

/* main index */
.slider_index {
  height: 750px;
  width: 100%; }

/* carrucel */
.carousel-caption {
  position: absolute;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
  margin-bottom: 30px; }
  .carousel-caption .titulo_slider {
    color: #a52a2a;
    font-size: 40px;
    animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both; }
  .carousel-caption .titulos_index {
    font-size: 30px;
    color: #a52a2a; }
  .carousel-caption .descripcion_index {
    color: #000;
    font-size: 25px;
    font-family: 1; }
  .carousel-caption .button_index {
    cursor: pointer;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #13000f;
    text-align: center;
    font-size: 20px;
    background: radial-gradient(#d36fb8, #c61b2f);
    color: #fef7f9;
    font-family: 'Montserrat', sans-serif;
    margin-left: 30px;
    margin-bottom: 25px;
    margin-top: 10px; }
  .carousel-caption .button_index:hover {
    color: #01010f;
    background: radial-gradient(#f487e9, #a9f2f8);
    border: 1px solid #58144f;
    transform: scale(1.1); }

.content-container {
  background: radial-gradient(#fff 30%, #318f96);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas: "one two three" "one four five"; }
  .content-container .one {
    grid-area: one; }
  .content-container .two {
    grid-area: two; }
  .content-container .three {
    grid-area: three; }
  .content-container .four {
    grid-area: four; }
  .content-container .five {
    grid-area: five; }

/* fincarru cel */
.card {
  background-color: #fafbfb;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  margin-left: 35px; }
  .card .img_card {
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: auto; }
  .card .titulos_index {
    font-size: 30px;
    color: #a52a2a; }
  .card .descripcion_index {
    color: #000;
    font-size: 15px; }

.card:hover {
  transform: scale(1.1);
  border: 1px solid #236e75; }

.card {
  width: 400px;
  height: 150px; }

/* queries index */
@media only screen and (min-width: 320px) and (max-width: 520px) {
  .content-container {
    background: radial-gradient(#fff 30%, #318f96);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas: "one " "two " "three" "four" "five"; }
    .content-container .one {
      grid-area: one; }
      .content-container .one .card {
        width: 90%;
        height: 160px;
        margin-left: 10px; }
        .content-container .one .card .titulo_index {
          font-size: 10px; }
    .content-container .two {
      grid-area: two; }
      .content-container .two .card {
        width: 90%;
        margin-left: 10px;
        height: 160px; }
        .content-container .two .card .titulo_index {
          font-size: 10px; }
    .content-container .three {
      grid-area: three; }
      .content-container .three .card {
        width: 90%;
        margin-left: 10px;
        height: 160px; }
    .content-container .four {
      grid-area: four; }
      .content-container .four .card {
        width: 90%;
        margin-left: 10px;
        height: 160px; }
    .content-container .five {
      grid-area: five; }
      .content-container .five .card {
        width: 90%;
        margin-left: 10px;
        height: 160px; } }

@keyframes puff-in-center {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0; }
  100% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1; } }

/* encabezado*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif; }

header {
  overflow: hidden;
  background: linear-gradient(to right, #fff 30%, #55dbe5);
  top: 0;
  width: 100%;
  z-index: 100%;
  position: sticky;
  z-index: 100%; }
  header .navbar navbar-expand-lg navbar-light bg-light-nav {
    background: linear-gradient(to right, #fff 30%, #55dbe5);
    position: sticky; }
    header .navbar navbar-expand-lg navbar-light bg-light-nav .container-fluid {
      background: linear-gradient(to right, #fff 30%, #55dbe5);
      padding: 0; }
      header .navbar navbar-expand-lg navbar-light bg-light-nav .container-fluid .logo_index {
        width: 70px;
        height: 70px; }

.logo_index {
  width: 70px;
  height: 70px; }

.nav-item:hover {
  transform: scale(1.1);
  border-bottom: 2px solid #55dbe5; }

/*  fin encabezado*/
