@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
/* main index */
/*amcho de las imagener en carrucel */
.container-fluid {
  padding-left: 0px;
  padding-right: 0px; }
  .container-fluid .slider_index {
    object-fit: cover; }
  .container-fluid .carousel-inner .slider_index {
    height: 800px;
    width: 100%; }
  .container-fluid .carousel-inner .carousel-caption {
    position: absolute;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    margin-bottom: 30px; }
    .container-fluid .carousel-inner .carousel-caption .titulo_slider {
      color: #f96102;
      font-size: 100px;
      animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both; }
    .container-fluid .carousel-inner .carousel-caption .descripcion_index {
      color: #110601;
      font-size: 40px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-shadow: 4px 4px 4px #B1B493; }

/* farjetas*/
.card {
  background-color: #090000;
  margin: 20px;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px; }
  .card .img_card {
    width: 70px;
    height: 70px;
    margin: 0px;
    margin-left: 10px;
    padding: auto;
    border-radius: 10px; }
  .card .titulos_index {
    font-size: 25px;
    color: #21fff4;
    text-align: center;
    margin-top: 5px; }
  .card .descripcion_index {
    color: #ffffff;
    font-size: 18px;
    margin: 5px;
    text-align: center; }

/* hover */
/* aplicando mixin */
.card {
  width: 90%;
  height: 150px; }

/* area grid*/
.content-container {
  background-color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px 5px;
  width: 100%;
  grid-auto-flow: row;
  grid-template-areas: "one two three" "one four five"; }
  .content-container .one {
    grid-area: one; }
  .content-container .two {
    grid-area: two; }
  .content-container .three {
    grid-area: three; }
  .content-container .four {
    grid-area: four; }
  .content-container .five {
    grid-area: five; }

/* queries index */
@media only screen and (min-width: 320px) and (max-width: 520px) {
  .container-fluid .carousel-inner {
    height: 320px;
    /* carrucel */ }
    .container-fluid .carousel-inner .slider_index {
      height: 320px;
      width: 100%;
      object-fit: cover; }
    .container-fluid .carousel-inner .carousel-caption {
      text-align: center; }
      .container-fluid .carousel-inner .carousel-caption .titulo_slider {
        padding-top: 1rem;
        font-size: 35px;
        color: #f80a06;
        animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both; }
      .container-fluid .carousel-inner .carousel-caption .titulos_index {
        font-size: 15px; }
      .container-fluid .carousel-inner .carousel-caption .descripcion_index {
        color: #02024f;
        font-size: 25px;
        font-family: 1; }
      .container-fluid .carousel-inner .carousel-caption .button_index {
        font-size: 19px;
        margin-bottom: 05px; }
      .container-fluid .carousel-inner .carousel-caption .button_index:hover {
        color: #040429;
        background: #bbf6e8;
        background: linear-gradient(90deg, #bbf6e8 26%, #c4f8fb 45%, #bbf6e8 65%);
        border: 1px solid #f4f8f8;
        box-shadow: 0px 0px 10px 10px #bbf6e8; }
      .container-fluid .carousel-inner .carousel-caption .nav-item:hover {
        border-bottom: 2px solid #fff 30%, #318f96; }
  /* grid para mobile */
  .content-container {
    background: radial-gradient(#fff 30%, #318f96);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas: "one " "two " "three" "four" "five"; }
    .content-container .one {
      grid-area: one; }
      .content-container .one .card {
        width: 90%;
        height: 165px;
        margin-left: 10px; }
        .content-container .one .card .titulos_index {
          font-size: 30px; }
        .content-container .one .card .descripcion_index {
          font-size: 15px; }
      .content-container .one .card:hover {
        transform: scale(1); }
    .content-container .two {
      grid-area: two; }
      .content-container .two .card {
        width: 90%;
        margin-left: 10px;
        height: 150px; }
        .content-container .two .card .titulos_index {
          font-size: 20px; }
        .content-container .two .card .descripcion_index {
          font-size: 15px; }
    .content-container .three {
      grid-area: three; }
      .content-container .three .card {
        width: 90%;
        margin-left: 10px;
        height: 150px; }
        .content-container .three .card .titulos_index {
          font-size: 20px; }
        .content-container .three .card .descripcion_index {
          font-size: 15px; }
    .content-container .four {
      grid-area: four; }
      .content-container .four .card {
        width: 90%;
        margin-left: 10px;
        height: 150px; }
        .content-container .four .card .titulos_index {
          font-size: 20px; }
        .content-container .four .card .descripcion_index {
          font-size: 15px; }
    .content-container .five {
      grid-area: five; }
      .content-container .five .card {
        width: 90%;
        margin-left: 10px;
        height: 150px; }
        .content-container .five .card .titulos_index {
          font-size: 20px; }
        .content-container .five .card .descripcion_index {
          font-size: 15px; }
    .content-container .whatsapp:hover {
      transform: scale(1.1); }
      .content-container .whatsapp:hover .green_watsapp {
        cursor: pointer;
        color: #fb2fa3; }
  /* palabras claves de la animacion */
  @keyframes puff-in-center {
    0% {
      transform: scale(2);
      filter: blur(4px);
      opacity: 0; }
    100% {
      transform: scale(1);
      filter: blur(0);
      opacity: 1; } } }

/* area nosotro*/
.row {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: #000000;
  /* boton de rserva cita*/
  /* area tarjetas*/ }
  .row .imagen_nosotros {
    height: 750px;
    width: 100%;
    object-fit: cover;
    padding: 0; }
  .row .staff_nosotros {
    font-size: 40px;
    text-align: center;
    color: #39f9f9;
    margin-top: 10px;
    margin-bottom: 20px; }
  .row .button_nosotros {
    cursor: pointer;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #f8f4c7;
    text-align: center;
    font-size: 20px;
    background-color: #f9f7f7;
    color: #f96102;
    box-shadow: 0px 0px 10px 10px #f8f4c7;
    font-family: 'Montserrat', sans-serif;
    margin-top: 25px;
    margin-bottom: 20px; }
  .row .button_nosotros:hover {
    color: #040429;
    background: #bbf6e8;
    background: linear-gradient(90deg, #bbf6e8 26%, #c4f8fb 45%, #bbf6e8 65%);
    border: 1px solid #f4f8f8;
    box-shadow: 0px 0px 10px 10px #bbf6e8; }
  .row .card-nosotros {
    text-align: center;
    background-color: #2ebbbd;
    margin: 40px;
    width: 320px;
    height: 500px;
    margin-bottom: 30px;
    border-radius: 5px;
    padding-left: 0; }
    .row .card-nosotros .card-img-top {
      height: 60%;
      width: 320px;
      object-fit: cover; }
  .row .card-title-nosotros {
    background-color: #000000;
    border-radius: 5px;
    color: #5be9f6;
    margin: 5px; }

.card-nosotros:hover {
  transform: scale(1.1);
  border: 1px solid #236e75; }

@media only screen and (min-width: 320px) and (max-width: 520px) {
  .row {
    margin: 0; }
    .row .imagen_nosotros {
      height: 320px;
      width: 100%;
      padding: 0;
      object-fit: cover; }
    .row .staff_nosotros {
      font-size: 30px;
      text-align: center;
      color: #39f9f9; }
    .row .card-nosotros {
      text-align: center;
      background-color: #1ec3c3;
      height: 600px;
      border-radius: 5px;
      font-size: 15px; }
      .row .card-nosotros .card-img-top {
        height: 400px; }
    .row .card-nosotros:hover {
      transform: scale(1); } }

/* main de pacientes*/
.blaqueamiento {
  text-align: center;
  color: #2df5f5; }
  .blaqueamiento .bg-pan-bottom {
    animation: bg-pan-bottom 8s both; }
  .blaqueamiento .img_blaqueamiento {
    width: 100%;
    height: 600px;
    border-radius: 5px;
    margin-left: 15px;
    object-fit: cover;
    margin-bottom: 15px;
    opacity: 0.5; }
  .blaqueamiento .img_blaqueamiento:hover {
    opacity: 1; }
  .blaqueamiento .descripcion_pacientes {
    margin-top: 10px;
    margin: 20px; }

/* area de boton*/
.button_pacientes {
  cursor: pointer;
  width: 250px;
  height: 40px;
  margin-top: 15px;
  border-radius: 20px;
  border: 1px solid #fcfefe;
  text-align: center;
  font-size: 20px;
  background-color: #f9f7f7;
  color: #f96102;
  box-shadow: 0px 0px 10px 10px #f8f4c7;
  font-family: 'Montserrat', sans-serif;
  margin-left: 30px;
  animation: blink-1 .6s both; }

.button_pacientes:hover {
  color: #040429;
  background: #bbf6e8;
  background: linear-gradient(90deg, #bbf6e8 26%, #c4f8fb 45%, #bbf6e8 65%);
  border: 1px solid #f4f8f8;
  box-shadow: 0px 0px 10px 10px #bbf6e8; }

/* grid pacientes*/
.container-pacientes {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px 15px;
  background-color: #000703;
  grid-auto-flow: row;
  grid-template-areas: "blaqueamiento blaqueamiento span1 span2" "blaqueamiento blaqueamiento span3 span4"; }
  .container-pacientes .span1,
  .container-pacientes .span2,
  .container-pacientes .span3,
  .container-pacientes .span4 {
    background-color: #000d06;
    text-align: center;
    height: 380px; }
    .container-pacientes .span1 .tex_pacientes,
    .container-pacientes .span2 .tex_pacientes,
    .container-pacientes .span3 .tex_pacientes,
    .container-pacientes .span4 .tex_pacientes {
      color: #2df5f5;
      font-size: 25px;
      margin-top: 5px; }
    .container-pacientes .span1 .img_pacientes,
    .container-pacientes .span2 .img_pacientes,
    .container-pacientes .span3 .img_pacientes,
    .container-pacientes .span4 .img_pacientes {
      width: 300px;
      height: 300px;
      border-radius: 5px;
      margin-top: 5px;
      opacity: 0.5; }
  .container-pacientes .blaqueamiento {
    grid-area: blaqueamiento;
    background-color: #000703; }
  .container-pacientes .span1 {
    grid-area: span1; }
  .container-pacientes .span2 {
    grid-area: span2; }
  .container-pacientes .span3 {
    grid-area: span3; }
  .container-pacientes .span4 {
    grid-area: span4; }
  .container-pacientes .img_pacientes:hover {
    opacity: 1; }

@media only screen and (min-width: 320px) and (max-width: 520px) {
  .button_pacientes {
    font-size: 20px;
    margin-bottom: 15px; }
  /* queries pacientes*/
  .container-pacientes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    place-items: center;
    grid-auto-flow: column;
    grid-template-areas: "blaqueamiento" "span1" "span2" "span4" "span3"; }
    .container-pacientes .blaqueamiento {
      grid-area: blaqueamiento;
      width: 320px; }
      .container-pacientes .blaqueamiento .img_blaqueamiento {
        margin-left: 0px; }
      .container-pacientes .blaqueamiento .img_pacientes:hover {
        transform: none; } }

/* main tratamiento*/
.video_tratamiento {
  display: flex;
  flex-direction: column;
  display: grid;
  place-items: center;
  background: linear-gradient(#fcfcff, #5bb2c6); }
  .video_tratamiento .frase_tratamientos {
    font-size: 30px;
    color: #441b01;
    text-align: center; }
  .video_tratamiento iframe {
    width: 90%;
    height: 500px; }
  .video_tratamiento .button_tratamientos {
    cursor: pointer;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #fbfcfc;
    text-align: center;
    font-size: 20px;
    background-color: #f9f7f7;
    color: #f96102;
    box-shadow: 0px 0px 10px 10px #f8f4c7;
    font-family: 'Montserrat', sans-serif;
    margin-left: 30px;
    margin-bottom: 25px;
    margin-top: 20px;
    margin-left: 40px; }
  .video_tratamiento .button_tratamientos:hover {
    color: #040429;
    background: #bbf6e8;
    background: linear-gradient(90deg, #bbf6e8 26%, #c4f8fb 45%, #bbf6e8 65%);
    border: 1px solid #f4f8f8;
    box-shadow: 0px 0px 10px 10px #bbf6e8; }

/* grid tatamiento*/
.container-tratamiento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  background: #080002;
  grid-auto-flow: row;
  grid-template-areas: "video_tratamiento video_tratamiento" "video_tratamiento video_tratamiento" "span1_tratamiento span2_tratamiento" "span3_tratamiento span4_tratamiento"; }
  .container-tratamiento .video_tratamiento {
    grid-area: video_tratamiento;
    margin-bottom: 20px; }
  .container-tratamiento .span1_tratamiento,
  .container-tratamiento .span2_tratamiento,
  .container-tratamiento .span3_tratamiento,
  .container-tratamiento .span4_tratamiento {
    grid-area: span1_tratamiento;
    display: flex;
    flex-direction: row;
    border-radius: 2px;
    width: 90%;
    height: 180px;
    background-color: #000506;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 4px; }
    .container-tratamiento .span1_tratamiento .titulo_tratamiento,
    .container-tratamiento .span2_tratamiento .titulo_tratamiento,
    .container-tratamiento .span3_tratamiento .titulo_tratamiento,
    .container-tratamiento .span4_tratamiento .titulo_tratamiento {
      font-size: 20px;
      color: #bbf6e8;
      margin-top: 10px; }
    .container-tratamiento .span1_tratamiento .descripcion_tratamiento,
    .container-tratamiento .span2_tratamiento .descripcion_tratamiento,
    .container-tratamiento .span3_tratamiento .descripcion_tratamiento,
    .container-tratamiento .span4_tratamiento .descripcion_tratamiento {
      color: #fefcfc;
      margin: 10px; }
    .container-tratamiento .span1_tratamiento .img_tratamiento,
    .container-tratamiento .span2_tratamiento .img_tratamiento,
    .container-tratamiento .span3_tratamiento .img_tratamiento,
    .container-tratamiento .span4_tratamiento .img_tratamiento {
      width: 180px;
      height: 180px;
      object-fit: cover; }
  .container-tratamiento .span1_tratamiento:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 7px 7px #bbf6e8; }
  .container-tratamiento .span2_tratamiento {
    grid-area: span2_tratamiento; }
  .container-tratamiento .span2_tratamiento:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 7px 7px #bbf6e8; }
  .container-tratamiento .span3_tratamiento {
    grid-area: span3_tratamiento; }
  .container-tratamiento .span3_tratamiento:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 7px 7px #bbf6e8; }
  .container-tratamiento .span4_tratamiento {
    grid-area: span4_tratamiento; }
  .container-tratamiento .span4_tratamiento:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 7px 7px #bbf6e8; }

/* queries tratamientos*/
@media only screen and (min-width: 320px) and (max-width: 520px) {
  .video_tratamiento {
    display: flex;
    flex-direction: column;
    display: grid;
    justify-content: center;
    place-items: center;
    background: linear-gradient(#fcfcff, #5bb2c6); }
    .video_tratamiento .frase_tratamientos {
      font-size: 20px;
      color: #050200; }
    .video_tratamiento iframe {
      width: 100%;
      height: 320px; }
    .video_tratamiento .img_tratamiento {
      width: 70px;
      height: 70px; }
  .container-tratamiento {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 5px 5px;
    width: 100%;
    grid-auto-flow: row;
    grid-template-areas: "video_tratamiento " "span1_tratamiento" "span2_tratamiento" "span3_tratamiento" "span4_tratamiento"; }
    .container-tratamiento .span1_tratamiento,
    .container-tratamiento .span2_tratamiento,
    .container-tratamiento .span3_tratamiento,
    .container-tratamiento .span4_tratamiento {
      grid-area: span1_tratamiento;
      margin-bottom: 30px;
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      height: 100%; }
      .container-tratamiento .span1_tratamiento .descripcion_tratamiento,
      .container-tratamiento .span2_tratamiento .descripcion_tratamiento,
      .container-tratamiento .span3_tratamiento .descripcion_tratamiento,
      .container-tratamiento .span4_tratamiento .descripcion_tratamiento {
        font-size: 14px; }
      .container-tratamiento .span1_tratamiento .img_tratamiento,
      .container-tratamiento .span2_tratamiento .img_tratamiento,
      .container-tratamiento .span3_tratamiento .img_tratamiento,
      .container-tratamiento .span4_tratamiento .img_tratamiento {
        width: 150px;
        height: 150px;
        display: block;
        margin: auto;
        padding: auto; }
    .container-tratamiento .span1_tratamiento:hover,
    .container-tratamiento .span2_tratamiento:hover,
    .container-tratamiento .span3_tratamiento:hover,
    .container-tratamiento .span4_tratamiento:hover {
      transform: scale(1); }
    .container-tratamiento .span2_tratamiento {
      grid-area: span2_tratamiento; }
    .container-tratamiento .span3_tratamiento {
      grid-area: span3_tratamiento; }
    .container-tratamiento .span4_tratamiento {
      grid-area: span4_tratamiento; } }

/*amcho de las imagener en carrucel */
.slider_sedes {
  height: 900px;
  width: 100%;
  object-fit: cover; }

/* tarjetas sedes*/
.content_sedes {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  gap: 20px 20px;
  background-color: #000; }
  .content_sedes .one_sedes,
  .content_sedes .two_sedes,
  .content_sedes .three_sedes {
    background-color: #000;
    border-radius: 5px;
    border: 1px solid #236e75;
    width: 100%;
    height: 150px;
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px; }
    .content_sedes .one_sedes .titulos_sedes,
    .content_sedes .two_sedes .titulos_sedes,
    .content_sedes .three_sedes .titulos_sedes {
      color: #f96102;
      font-size: 22px;
      text-align: center; }
    .content_sedes .one_sedes .descripcion_sedes,
    .content_sedes .two_sedes .descripcion_sedes,
    .content_sedes .three_sedes .descripcion_sedes {
      font-size: 15px;
      color: #f7f7f9; }

/* hover */
.one_sedes:hover,
.two_sedes:hover,
.three_sedes:hover {
  box-shadow: 0px 0px 10px 10px #bbf6e8;
  border: 1px solid #236e75; }

/* aplicando mixin */
.card {
  width: 90%;
  height: 150px; }

/* queries index */
@media only screen and (min-width: 320px) and (max-width: 520px) {
  .slider_sedes {
    width: 100%;
    height: 320px; }
  /* carrucel */
  .carousel-caption .titulo_slider {
    font-size: 35px;
    animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both; }
  .carousel-caption .titulos_index {
    font-size: 20px; }
  .carousel-caption .descripcion_index {
    font-size: 20px;
    font-family: 1; }
  .carousel-caption .button_index {
    font-size: 19px;
    margin-left: 2px;
    margin-bottom: 20px;
    margin-top: 10px; }
  /* grid para mobile */
  .content_sedes {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    gap: 10px 10px;
    text-align: center; }
    .content_sedes .one_sedes,
    .content_sedes .two_Sedes,
    .content_sedes .three_sedes {
      background-color: #000;
      border-radius: 5px;
      width: 100%;
      height: 100%;
      margin-bottom: 20px;
      padding: 10px;
      color: #fff; }
      .content_sedes .one_sedes .titulos_sedes,
      .content_sedes .two_Sedes .titulos_sedes,
      .content_sedes .three_sedes .titulos_sedes {
        color: #f96102;
        font-size: 20px; }
      .content_sedes .one_sedes .descripcion_sedes,
      .content_sedes .two_Sedes .descripcion_sedes,
      .content_sedes .three_sedes .descripcion_sedes {
        font-size: 15px;
        color: #f9f9fc;
        margin-top: 15px; }
  .whatsapp:hover {
    transform: scale(1.1); }
    .whatsapp:hover .green_watsapp {
      cursor: pointer;
      color: #ca2266; } }

/* palabras claves de la animacion */
@keyframes puff-in-center {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0; }
  100% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1; } }

/* encabezado*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif; }

header {
  overflow: hidden;
  background: white;
  background: linear-gradient(90deg, white 15%, #0ad9f1 55%);
  top: 0;
  width: 100%;
  z-index: 100;
  position: sticky; }
  header .navbar-toggler {
    margin-right: 20px; }
  header .navbar navbar-expand-lg navbar-light bg-light-nav {
    position: sticky; }
    header .navbar navbar-expand-lg navbar-light bg-light-nav .container-fluid {
      padding: 0; }

.logo_index {
  width: 70px;
  height: 70px;
  margin-left: 10px;
  border-radius: 10px; }

.nav-item {
  padding-left: 1.7rem;
  padding-right: 1.8rem;
  margin-right: 15px; }

.nav-item:hover {
  transform: scale(1.1);
  border-bottom: 2px solid #FFF; }

/* boton de rserva cita*/
.button_index {
  cursor: pointer;
  width: 250px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #f8f4c7;
  text-align: center;
  font-size: 20px;
  background-color: #f9f7f7;
  color: #f96102;
  box-shadow: 0px 0px 10px 10px #f8f4c7;
  font-family: 'Montserrat', sans-serif;
  margin-left: 30px;
  margin-bottom: 25px;
  margin-top: 10px;
  margin-left: 40px; }

.button_index:hover {
  color: #040429;
  background: #bbf6e8;
  background: linear-gradient(90deg, #bbf6e8 26%, #c4f8fb 45%, #bbf6e8 65%);
  border: 1px solid #f4f8f8;
  box-shadow: 0px 0px 10px 10px #bbf6e8; }

/*  fin encabezado*/
footer .footer {
  background: #55dbe5;
  background: linear-gradient(90deg, #55dbe5 16%, #d0fafa 45%, #55dbe5 78%);
  margin-bottom: 0; }
  footer .footer .redes_footer_index {
    display: inline-block;
    padding: 10px 20px;
    color: #0e0101;
    text-decoration: none;
    size: 50px;
    margin-left: 5px; }
    footer .footer .redes_footer_index a {
      color: #000000; }

footer ul {
  padding-left: 0px;
  background-color: #FFF;
  text-align: left;
  width: 100%; }

footer .whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 60px; }
  footer .whatsapp .green_watsapp {
    cursor: pointer;
    color: #60ef34; }

/* area hover  */
.whatsapp:hover {
  transform: scale(1.5); }
  .whatsapp:hover .green_watsapp {
    cursor: pointer;
    color: #d9aa52; }

.redes_footer_index:hover {
  border-radius: 5px;
  background-color: rgba(235, 247, 246, 0.5); }

/* propiedad each */
.fa-brands-fa-facebook, .fa-brands-fa-instragram,
.fa-brands-fa-tiktok {
  color: #0000ff; }

.fa-brands-fa-tiktok {
  color: #b90f80; }

.fa-brands-fa-instragram {
  color: #ac3d05; }

.fa-brands-fa-facebook, .fa-brands-fa-instragram,
.fa-brands-fa-tiktok {
  width: 50px;
  text-align: center; }
  .fa-brands-fa-facebook:hover, .fa-brands-fa-instragram:hover,
  .fa-brands-fa-tiktok:hover {
    color: #0a0500;
    transform: scale(1.1); }
