@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
/* main index */
/*amcho de las imagener en carrucel */
.slider_index {
  height: 750px;
  width: 100%; }

/* carrucel */
.container-fluid {
  padding-left: 0px;
  padding-right: 0px; }
  .container-fluid .carousel-caption {
    position: absolute;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    margin-bottom: 30px; }
    .container-fluid .carousel-caption .titulo_slider {
      color: #a52a2a;
      font-size: 40px;
      animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both; }
    .container-fluid .carousel-caption .titulos_index {
      font-size: 30px;
      color: #a52a2a; }
    .container-fluid .carousel-caption .descripcion_index {
      color: #000;
      font-size: 25px;
      font-family: 1; }

/* farjetas*/
.card {
  background: radial-gradient(#fff 50%, #b6f9f7);
  margin: 20px;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px; }
  .card .img_card {
    width: 90px;
    height: 90px;
    margin: 0px;
    padding: auto; }
  .card .titulos_index {
    font-size: 25px;
    color: #a52a2a;
    text-align: center;
    margin-top: 5px; }
  .card .descripcion_index {
    color: #000;
    font-size: 15px; }

/* hover */
.card:hover {
  transform: scale(1.1);
  border: 1px solid #236e75; }

/* aplicando mixin */
.card {
  width: 90%;
  height: 150px; }

/* area grid*/
.content-container {
  background: radial-gradient(#fff 30%, #318f96);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px 5px;
  width: 100%;
  grid-auto-flow: row;
  grid-template-areas: "one two three" "one four five"; }
  .content-container .one {
    grid-area: one; }
  .content-container .two {
    grid-area: two; }
  .content-container .three {
    grid-area: three; }
  .content-container .four {
    grid-area: four; }
  .content-container .five {
    grid-area: five; }

/* queries index */
@media only screen and (min-width: 320px) and (max-width: 520px) {
  .slider_index {
    height: 600px;
    width: 100%; }
  /* carrucel */
  .carousel-caption .titulo_slider {
    font-size: 35px;
    animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both; }
  .carousel-caption .titulos_index {
    font-size: 20px; }
  .carousel-caption .descripcion_index {
    font-size: 25px;
    font-family: 1; }
  .carousel-caption .button_index {
    font-size: 19px;
    margin-left: 2px;
    margin-bottom: 20px;
    margin-top: 10px; }
  .carousel-caption .button_index:hover {
    background: radial-gradient(#f487e9, #a9f2f8);
    transform: scale(1.1); }
  .nav-item:hover {
    transform: scale(1.1);
    border-bottom: 2px solid #fff 30%, #318f96; }
  /* grid para mobile */
  .content-container {
    background: radial-gradient(#fff 30%, #318f96);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas: "one " "two " "three" "four" "five"; }
    .content-container .one {
      grid-area: one; }
      .content-container .one .card {
        width: 90%;
        height: 150px;
        margin-left: 10px; }
        .content-container .one .card .titulos_index {
          font-size: 20px; }
    .content-container .two {
      grid-area: two; }
      .content-container .two .card {
        width: 90%;
        margin-left: 10px;
        height: 150px; }
        .content-container .two .card .titulos_index {
          font-size: 20px; }
    .content-container .three {
      grid-area: three; }
      .content-container .three .card {
        width: 90%;
        margin-left: 10px;
        height: 150px; }
        .content-container .three .card .titulos_index {
          font-size: 20px; }
    .content-container .four {
      grid-area: four; }
      .content-container .four .card {
        width: 90%;
        margin-left: 10px;
        height: 150px; }
        .content-container .four .card .titulos_index {
          font-size: 20px; }
    .content-container .five {
      grid-area: five; }
      .content-container .five .card {
        width: 90%;
        margin-left: 10px;
        height: 150px; }
        .content-container .five .card .titulos_index {
          font-size: 20px; }
  .whatsapp:hover {
    transform: scale(1.1); }
    .whatsapp:hover .green_watsapp {
      cursor: pointer;
      color: #ca2266; } }

/* palabras claves de la animacion */
@keyframes puff-in-center {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0; }
  100% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1; } }

/* area nosotro*/
.row {
  display: flex;
  justify-content: center;
  /* boton de rserva cita*/
  /* area tarjetas*/ }
  .row .imagen_nosotros {
    height: 750px;
    width: 100%; }
  .row .staff_nosotros {
    font-size: 40px;
    text-align: center;
    color: #118f8f;
    margin-top: 10px;
    margin-bottom: 20px; }
  .row .button_nosotros {
    cursor: pointer;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #13000f;
    text-align: center;
    font-size: 20px;
    background: radial-gradient(#d36fb8, #c61b2f);
    color: #fef7f9;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px; }
  .row .button_nosotros:hover {
    color: #01010f;
    background: radial-gradient(#f487e9, #a9f2f8);
    border: 1px solid #58144f;
    transform: scale(1.1); }
  .row .card-nosotros {
    text-align: center;
    padding-top: 10px;
    background-color: #118f8f;
    margin: 40px;
    padding: 10px;
    width: 100%;
    height: 600px;
    margin-bottom: 30px;
    border-radius: 5px; }
    .row .card-nosotros .card-img-top {
      height: 60%;
      width: 90%;
      margin-top: 10px; }
  .row .card-title-nosotros {
    background: radial-gradient(#f5f3f5, #a9f8f8);
    color: brown; }

.card-nosotros:hover {
  transform: scale(1.1);
  border: 1px solid #236e75; }

@media only screen and (min-width: 320px) and (max-width: 520px) {
  .row .imagen_nosotros {
    height: 550px;
    width: 100%; }
  .row .staff_nosotros {
    font-size: 30px;
    text-align: center;
    color: #118f8f;
    margin-top: 10px;
    margin-bottom: 20px; }
  .row .card-nosotros {
    text-align: center;
    padding-top: 10px;
    background-color: #118f8f;
    margin: 20px;
    padding: 10px;
    width: 100%;
    height: 550px;
    margin-bottom: 10px;
    border-radius: 5px; } }

/* main de pacientes*/
.blaqueamiento {
  text-align: center;
  animation: bg-pan-right 8s both; }
  .blaqueamiento .img_blaqueamiento {
    width: 100%;
    height: 600px; }
  .blaqueamiento .descripcion_pacientes {
    margin-top: 10px;
    margin: 20px; }

/* area de boton*/
.button_pacientes {
  cursor: pointer;
  width: 250px;
  height: 40px;
  margin-top: 10px;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  font-size: 20px;
  background: radial-gradient(#d36fb8, #c61b2f);
  color: #fdf3fa;
  font-family: 'Montserrat', sans-serif;
  margin-left: 30px;
  animation: blink-1 .6s both; }

.button_pacientes:hover {
  color: #040429;
  background: radial-gradient(#72FFFF, #6b1f6b); }

/* grid pacientes*/
.container-pacientes {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px 15px;
  grid-auto-flow: row;
  grid-template-areas: "blaqueamiento blaqueamiento span1 span2" "blaqueamiento blaqueamiento span3 span4"; }
  .container-pacientes .blaqueamiento {
    grid-area: blaqueamiento; }
  .container-pacientes .span1 {
    grid-area: span1;
    background: linear-gradient(#fcfcff, #89f6f8);
    text-align: center;
    height: 380px; }
    .container-pacientes .span1 .img_pacientes {
      width: 300px;
      height: 300px; }
  .container-pacientes .span2 {
    grid-area: span2;
    background: linear-gradient(#fcfcff, #89f6f8);
    text-align: center;
    height: 380px; }
    .container-pacientes .span2 .img_pacientes {
      width: 300px;
      height: 300px; }
  .container-pacientes .span3 {
    grid-area: span3;
    background: linear-gradient(#fcfcff, #89f6f8);
    text-align: center;
    height: 380px; }
    .container-pacientes .span3 .img_pacientes {
      width: 300px;
      height: 300px; }
  .container-pacientes .span4 {
    grid-area: span4;
    background: linear-gradient(#fcfcff, #89f6f8);
    text-align: center;
    height: 380px; }
    .container-pacientes .span4 .img_pacientes {
      width: 300px;
      height: 300px; }
  .container-pacientes .img_pacientes:hover {
    transform: scale(1.1); }

@media only screen and (min-width: 320px) and (max-width: 520px) {
  .button_pacientes {
    font-size: 14px; }
  /* queries pacientes*/
  .container-pacientes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    place-items: center;
    grid-auto-flow: column;
    grid-template-areas: "blaqueamiento" "span1" "span2" "span4" "span3"; }
    .container-pacientes .blaqueamiento {
      grid-area: blaqueamiento;
      width: 320px; }
    .container-pacientes .span1 {
      grid-area: span1;
      background: linear-gradient(#fcfcff, #eed8e3);
      height: 250px; }
      .container-pacientes .span1 .img_pacientes {
        width: 250px;
        height: 300px; } }

/* ----------------------------------------------
 * Generated by Animista on 2022-9-8 0:6:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1; }
  25%,
  75% {
    opacity: 0; } }

/* main tratamiento*/
.video_tratamiento {
  display: flex;
  flex-direction: column;
  display: grid;
  place-items: center;
  background: linear-gradient(#fcfcff, #5bb2c6); }
  .video_tratamiento iframe {
    width: 90%;
    height: 500px; }
  .video_tratamiento .button_tratamientos {
    cursor: pointer;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #13000f;
    text-align: center;
    font-size: 20px;
    background: radial-gradient(#d36fb8, #c61b2f);
    color: #fef7f9;
    font-family: 'Montserrat', sans-serif;
    margin-left: 30px;
    margin-bottom: 25px;
    margin-top: 10px;
    margin-left: 40px; }

/* grid tatamiento*/
.container-tratamiento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas: "video_tratamiento video_tratamiento" "video_tratamiento video_tratamiento" "span1_tratamiento span2_tratamiento" "span3_tratamiento span4_tratamiento"; }
  .container-tratamiento .video_tratamiento {
    grid-area: video_tratamiento;
    margin-bottom: 20px; }
  .container-tratamiento .span1_tratamiento {
    grid-area: span1_tratamiento;
    display: flex;
    flex-direction: row;
    border-radius: 2px;
    width: 90%;
    height: 200px;
    background-color: #93daeb;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5px; }
    .container-tratamiento .span1_tratamiento .titulo_tratamiento {
      font-size: 20px;
      color: brown; }
    .container-tratamiento .span1_tratamiento .descripcion_tratamiento {
      color: #070000; }
    .container-tratamiento .span1_tratamiento .img_tratamiento {
      width: 180px;
      height: 180px; }
  .container-tratamiento .span1_tratamiento:hover {
    transform: scale(1.1); }
  .container-tratamiento .span2_tratamiento {
    grid-area: span2_tratamiento;
    display: flex;
    flex-direction: row;
    border-radius: 2px;
    width: 90%;
    height: 200px;
    background-color: #93daeb;
    text-align: center;
    margin: 0 auto; }
    .container-tratamiento .span2_tratamiento .titulo_tratamiento {
      font-size: 20px;
      color: brown; }
    .container-tratamiento .span2_tratamiento .descripcion_tratamiento {
      color: #070000; }
    .container-tratamiento .span2_tratamiento .img_tratamiento {
      width: 180px;
      height: 180px; }
  .container-tratamiento .span2_tratamiento:hover {
    transform: scale(1.1); }
  .container-tratamiento .span3_tratamiento {
    grid-area: span3_tratamiento;
    display: flex;
    flex-direction: row;
    border-radius: 2px;
    width: 90%;
    height: 200px;
    background-color: #93daeb;
    text-align: center;
    margin: 0 auto; }
    .container-tratamiento .span3_tratamiento .titulo_tratamiento {
      font-size: 20px;
      color: brown; }
    .container-tratamiento .span3_tratamiento .descripcion_tratamiento {
      color: #070000; }
    .container-tratamiento .span3_tratamiento .img_tratamiento {
      width: 180px;
      height: 180px; }
  .container-tratamiento .span3_tratamiento:hover {
    transform: scale(1.1); }
  .container-tratamiento .span4_tratamiento {
    grid-area: span4_tratamiento;
    display: flex;
    flex-direction: row;
    border-radius: 2px;
    width: 90%;
    height: 200px;
    background-color: #93daeb;
    text-align: center;
    margin: 0 auto; }
    .container-tratamiento .span4_tratamiento .titulo_tratamiento {
      font-size: 20px;
      color: brown; }
    .container-tratamiento .span4_tratamiento .descripcion_tratamiento {
      color: #070000; }
    .container-tratamiento .span4_tratamiento .img_tratamiento {
      width: 180px;
      height: 180px; }
  .container-tratamiento .span4_tratamiento:hover {
    transform: scale(1.1); }

/* queries tatamiento*/
/* queries tratamientos*/
@media only screen and (min-width: 320px) and (max-width: 520px) {
  .video_tratamiento {
    display: flex;
    flex-direction: column;
    display: grid;
    justify-content: center;
    place-items: center;
    background: linear-gradient(#fcfcff, #5bb2c6); }
    .video_tratamiento iframe {
      width: 100%;
      height: 600px; }
    .video_tratamiento .img_tratamiento {
      width: 70px;
      height: 70px; }
  .container-tratamiento {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 5px 5px;
    width: 100%;
    grid-auto-flow: row;
    grid-template-areas: "video_tratamiento " "span1_tratamiento" "span2_tratamiento" "span3_tratamiento" "span4_tratamiento"; }
    .container-tratamiento .span1_tratamiento {
      grid-area: span1_tratamiento;
      margin-bottom: 2px;
      font-size: 15px;
      display: flex;
      flex-direction: column;
      height: 100%; }
      .container-tratamiento .span1_tratamiento .img_tratamiento {
        width: 150px;
        height: 150px;
        display: block;
        margin: auto;
        padding: auto; }
    .container-tratamiento .span2_tratamiento {
      grid-area: span2_tratamiento;
      margin-bottom: 2px;
      font-size: 15px;
      display: flex;
      flex-direction: column;
      height: 100%; }
      .container-tratamiento .span2_tratamiento .img_tratamiento {
        width: 150px;
        height: 150px;
        display: block;
        margin: auto;
        padding: auto; }
    .container-tratamiento .span3_tratamiento {
      grid-area: span3_tratamiento;
      margin-bottom: 2px;
      font-size: 15px;
      display: flex;
      flex-direction: column;
      height: 100%; }
      .container-tratamiento .span3_tratamiento .img_tratamiento {
        width: 150px;
        height: 150px;
        display: block;
        margin: auto;
        padding: auto; }
    .container-tratamiento .span4_tratamiento {
      grid-area: span4_tratamiento;
      margin-bottom: 2px;
      font-size: 15px;
      display: flex;
      flex-direction: column;
      height: 100%; }
      .container-tratamiento .span4_tratamiento .img_tratamiento {
        width: 150px;
        height: 150px;
        display: block;
        margin: auto;
        padding: auto; } }

/*amcho de las imagener en carrucel */
.slider_index {
  height: 750px;
  width: 100%; }

/* carrucel sedes*/
.container-fluid {
  padding-left: 0px;
  padding-right: 0px; }
  .container-fluid .carousel-caption {
    position: absolute;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    margin-bottom: 30px; }
    .container-fluid .carousel-caption .titulo_slider {
      color: #a52a2a;
      font-size: 40px;
      animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both; }
    .container-fluid .carousel-caption .titulos_index {
      font-size: 30px;
      color: #a52a2a; }
    .container-fluid .carousel-caption .descripcion_index {
      color: #000;
      font-size: 25px;
      font-family: 1; }

/* tarjetas sedes*/
.content_sedes {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  gap: 10px 10px; }
  .content_sedes .one_sedes,
  .content_sedes .two_sedes,
  .content_sedes .three_sedes {
    background: radial-gradient(#fff 50%, #b6f9f7);
    border-radius: 5px;
    border: 1px solid #236e75;
    width: 450px;
    height: 150px;
    margin: 10px;
    padding: 10px; }
    .content_sedes .one_sedes .titulos_sedes,
    .content_sedes .two_sedes .titulos_sedes,
    .content_sedes .three_sedes .titulos_sedes {
      color: #a52a2a;
      font-size: 22px; }
    .content_sedes .one_sedes .descripcion_sedes,
    .content_sedes .two_sedes .descripcion_sedes,
    .content_sedes .three_sedes .descripcion_sedes {
      font-size: 18px;
      color: #000005;
      margin-top: 15px; }

/* hover */
.one_sedes:hover,
.two_sedes:hover,
.three_sedes:hover {
  transform: scale(1.1);
  border: 1px solid #236e75; }

/* aplicando mixin */
.card {
  width: 90%;
  height: 150px; }

/* queries index */
@media only screen and (min-width: 320px) and (max-width: 520px) {
  .slider_index {
    height: 600px;
    width: 100%; }
  /* carrucel */
  .carousel-caption .titulo_slider {
    font-size: 35px;
    animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both; }
  .carousel-caption .titulos_index {
    font-size: 20px; }
  .carousel-caption .descripcion_index {
    font-size: 25px;
    font-family: 1; }
  .carousel-caption .button_index {
    font-size: 19px;
    margin-left: 2px;
    margin-bottom: 20px;
    margin-top: 10px; }
  .carousel-caption .button_index:hover {
    background: radial-gradient(#f487e9, #a9f2f8);
    transform: scale(1.1); }
  .nav-item:hover {
    transform: scale(1.1);
    border-bottom: 2px solid #fff 30%, #318f96; }
  /* grid para mobile */
  .content_sedes {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    gap: 10px 10px;
    text-align: center; }
    .content_sedes .one_sedes,
    .content_sedes .two_Sedes,
    .content_sedes .three_sedes {
      background: radial-gradient(#fff 50%, #b6f9f7);
      border-radius: 5px;
      border: 1px solid #236e75;
      width: 90%;
      height: 100%;
      margin: 10px;
      padding: 10px;
      margin-left: 10px;
      margin-right: 10px; }
      .content_sedes .one_sedes .titulos_sedes,
      .content_sedes .two_Sedes .titulos_sedes,
      .content_sedes .three_sedes .titulos_sedes {
        color: #a52a2a;
        font-size: 20px; }
      .content_sedes .one_sedes .descripcion_sedes,
      .content_sedes .two_Sedes .descripcion_sedes,
      .content_sedes .three_sedes .descripcion_sedes {
        font-size: 15px;
        color: #000005;
        margin-top: 15px; }
  .whatsapp:hover {
    transform: scale(1.1); }
    .whatsapp:hover .green_watsapp {
      cursor: pointer;
      color: #ca2266; } }

/* palabras claves de la animacion */
@keyframes puff-in-center {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0; }
  100% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1; } }

/* encabezado*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif; }

header {
  overflow: hidden;
  background: linear-gradient(to right, #fff 30%, #55dbe5);
  top: 0;
  width: 100%;
  z-index: 100%;
  position: sticky;
  z-index: 100%; }
  header .navbar navbar-expand-lg navbar-light bg-light-nav {
    background: linear-gradient(to right, #fff 30%, #55dbe5);
    position: sticky; }
    header .navbar navbar-expand-lg navbar-light bg-light-nav .container-fluid {
      background: linear-gradient(to right, #fff 30%, #55dbe5);
      padding: 0; }
      header .navbar navbar-expand-lg navbar-light bg-light-nav .container-fluid .logo_index {
        margin-top: 2px;
        width: 70px;
        height: 70px; }

.logo_index {
  width: 70px;
  height: 70px; }

.nav-item {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.nav-item:hover {
  transform: scale(1.1);
  border-bottom: 2px solid #55dbe5; }

/* boton de rserva cita*/
.button_index {
  cursor: pointer;
  width: 250px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #13000f;
  text-align: center;
  font-size: 20px;
  background: radial-gradient(#d36fb8, #c61b2f);
  color: #fef7f9;
  font-family: 'Montserrat', sans-serif;
  margin-left: 30px;
  margin-bottom: 25px;
  margin-top: 10px;
  margin-left: 40px; }

.button_index:hover {
  color: #01010f;
  background: radial-gradient(#f487e9, #a9f2f8);
  border: 1px solid #58144f;
  transform: scale(1.1); }

/*  fin encabezado*/
footer .footer {
  background: linear-gradient(to right, #fff 30%, #55dbe5); }
  footer .footer .redes_footer_index {
    display: inline-block;
    padding: 10px 20px;
    color: #0e0101;
    text-decoration: none;
    background: radial-gradient(#76e2e1, #fff);
    size: 20px; }
    footer .footer .redes_footer_index a {
      color: black; }

footer ul {
  padding-left: 0px;
  background-color: #FFF;
  text-align: left;
  width: 100%; }

footer .whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 60px; }
  footer .whatsapp .green_watsapp {
    cursor: pointer;
    color: #297213; }

/* area hover  */
.whatsapp:hover {
  transform: scale(1.5); }
  .whatsapp:hover .green_watsapp {
    cursor: pointer;
    color: #ca2266; }

.redes_footer_index:hover {
  background-color: #6ecfc7; }

/* propiedad each */
.fa-brands-fa-facebook, .fa-brands-fa-instragram,
.fa-brands-fa-tiktok {
  color: blue; }

.fa-brands-fa-tiktok {
  color: #b90f80; }

.fa-brands-fa-instragram {
  color: #ac3d05; }

.fa-brands-fa-facebook, .fa-brands-fa-instragram,
.fa-brands-fa-tiktok {
  width: 50px;
  text-align: center; }
  .fa-brands-fa-facebook:hover, .fa-brands-fa-instragram:hover,
  .fa-brands-fa-tiktok:hover {
    color: #0a0500;
    transform: scale(1.1); }
