/* main index */
/*amcho de las imagener en carrucel */
.slider_index {
    height: 750px;
    width: 100%;

}

/* carrucel */
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;

    .carousel-caption {
        position: absolute;
        bottom: 1.25rem;
        left: 15%;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: center;
        margin-bottom: 30px;

        .titulo_slider {
            color: #a52a2a;
            font-size: 40px;
            animation: puff-in-center .7s cubic-bezier(.47, 0.000, .745, .715) both
        }

        .titulos_index {
            font-size: 30px;
            color: #a52a2a;
        }

        .descripcion_index {
            color: #000;
            font-size: 25px;
            font-family: random($limit: 1);
        }
    }

    
}

/* farjetas*/
.card {
    background-color: #fafbfb;
    margin: 20px;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;

    .img_card {
        width: 90px;
        height: 90px;
        margin: 0px;
        padding: auto;
    }

    .titulos_index {
        font-size: 25px;
        color: #a52a2a;
        text-align: center;
        margin-top: 5px;

    }

    .descripcion_index {
        color: #000;
        font-size: 15px;
    }
}

/* hover */
.card:hover {
    transform: scale(1.1);
    border: 1px solid rgb(35, 110, 117);

}

/* aplicando mixin */
@mixin tamanos($ancho, $alto) {
    width: $ancho;
    height: $alto ;
}

.card {
    @include tamanos (90%, 150px);
}

/* area grid*/
.content-container {
    background: radial-gradient(#fff 30%, #318f96);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px 5px;
    width: 100%;
    grid-auto-flow: row;
    grid-template-areas:
        "one two three"
        "one four five";

    .one {
        grid-area: one;


    }

    .two {
        grid-area: two;

    }

    .three {
        grid-area: three;

    }

    .four {
        grid-area: four;

    }

    .five {
        grid-area: five;

    }
}


/* queries index */

@media only screen and (min-width: 320px) and (max-width: 520px) {
    .slider_index {
        height: 600px;
        width: 100%;

    }

    /* carrucel */
    .carousel-caption {
        .titulo_slider {
            font-size: 35px;
            animation: puff-in-center .7s cubic-bezier(.47, 0.000, .745, .715) both
        }

        .titulos_index {
            font-size: 20px;

        }

        .descripcion_index {

            font-size: 25px;
            font-family: random($limit: 1);
        }

        .button_index {
            font-size: 19px;
            margin-left: 2px;
            margin-bottom: 20px;
            margin-top: 10px;
        }

        .button_index:hover {

            background: radial-gradient(#f487e9, #a9f2f8);
            transform: scale(1.1);
        }
    }

    .nav-item:hover {
        transform: scale(1.1);
        border-bottom: 2px solid (#fff 30%, #318f96);

    }

    /* grid para mobile */
    .content-container {
        background: radial-gradient(#fff 30%, #318f96);
        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 5px 5px;
        grid-auto-flow: row;
        grid-template-areas:

            "one "
            "two "
            "three"
            "four"
            "five";

        .one {
            grid-area: one;

            .card {
                width: 90%;
                height: 150px;
                margin-left: 10px;

                .titulos_index {
                    font-size: 20px;
                }
            }
        }

        .two {
            grid-area: two;

            .card {
                width: 90%;
                margin-left: 10px;
                height: 150px;

                .titulos_index {
                    font-size: 20px;
                }
            }
        }


        .three {
            grid-area: three;

            .card {
                width: 90%;
                margin-left: 10px;
                height: 150px;

                .titulos_index {
                    font-size: 20px;
                }
            }
        }

        .four {
            grid-area: four;

            .card {
                width: 90%;
                margin-left: 10px;
                height: 150px;

                .titulos_index {
                    font-size: 20px;
                }
            }
        }

        .five {
            grid-area: five;

            .card {
                width: 90%;
                margin-left: 10px;
                height: 150px;

                .titulos_index {
                    font-size: 20px;
                }
            }

        }
    }

    .whatsapp:hover {
        transform: scale(1.1);

        .green_watsapp {
            cursor: pointer;
            color: rgb(202, 34, 102);
        }
    }
}

/* palabras claves de la animacion */


@keyframes puff-in-center {
    0% {
        transform: scale(2);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        filter: blur(0);
        opacity: 1
    }
}