/* main de pacientes*/
.blaqueamiento {
    text-align: center;
    animation: bg-pan-right 8s both;


    .img_blaqueamiento {
        width: 100%;
        height: 600px;

    }

    .descripcion_pacientes {
        margin-top: 10px;
        margin: 20px;
    }
}

/* area de boton*/
.button_pacientes {
    cursor: pointer;
    width: 250px;
    height: 40px;
    margin-top: 10px;
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
    background: radial-gradient(rgb(211, 111, 184), rgb(198, 27, 47));
    color: #fdf3fa;
    font-family: 'Montserrat', sans-serif;
    margin-left: 30px;
    animation: blink-1 .6s both
}

.button_pacientes:hover {
    color: rgb(4, 4, 41);
    background: radial-gradient(#72FFFF, #6b1f6b);
}

/* grid pacientes*/
.container-pacientes {
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px 15px;
    grid-auto-flow: row;
    grid-template-areas:
        "blaqueamiento blaqueamiento span1 span2"
        "blaqueamiento blaqueamiento span3 span4";


    .blaqueamiento {
        grid-area: blaqueamiento;
    }

    .span1 {
        grid-area: span1;
        background: linear-gradient(rgb(252, 252, 255), rgb(238, 216, 227));
        text-align: center;
        height: 380px;

        .img_pacientes {
            width: 300px;
            height: 300px;
        }
    }

    .span2 {
        grid-area: span2;
        background: linear-gradient(rgb(252, 252, 255), rgb(238, 216, 227));
        text-align: center;
        height: 380px;

        .img_pacientes {
            width: 300px;
            height: 300px;
        }
    }

    .span3 {
        grid-area: span3;
        background: linear-gradient(rgb(252, 252, 255), rgb(238, 216, 227));
        text-align: center;
        height: 380px;

        .img_pacientes {
            width: 300px;
            height: 300px;
        }
    }

    .span4 {
        grid-area: span4;
        background: linear-gradient(rgb(252, 252, 255), rgb(238, 216, 227));
        text-align: center;
        height: 380px;

        .img_pacientes {
            width: 300px;
            height: 300px;
        }

    }

    .img_pacientes:hover {
        transform: scale(1.1);
    }
}

@media only screen and (min-width: 320px) and (max-width: 520px) {
    .button_pacientes {

        font-size: 14px;
    }

    /* queries pacientes*/
    .container-pacientes {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        place-items: center;
        grid-auto-flow: column;
        grid-template-areas:
            "blaqueamiento"
            "span1"
            "span2"
            "span4"
            "span3"
        ;

        .blaqueamiento {
            grid-area: blaqueamiento;
            width: 320px;

        }

        .span1 {
            grid-area: span1;
            background: linear-gradient(rgb(252, 252, 255), rgb(238, 216, 227));
            height: 250px;

            .img_pacientes {
                width: 250px;
                height: 300px;
            }
        }

    }

}







/* ----------------------------------------------
 * Generated by Animista on 2022-9-8 0:6:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes blink-1 {

    0%,
    50%,
    100% {
        opacity: 1
    }

    25%,
    75% {
        opacity: 0
    }
}