/*amcho de las imagener en carrucel */
.slider_sedes {
    height: 750px;
    width: 100%;
    object-fit: cover;


}

/* carrucel sedes*/
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;

    .carousel-caption {
        position: absolute;
        bottom: 1.25rem;
        left: 15%;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: center;
        margin-bottom: 30px;

        .titulo_slider {
            color: #a52a2a;
            font-size: 40px;
            animation: puff-in-center .7s cubic-bezier(.47, 0.000, .745, .715) both
        }

        .titulos_index {
            font-size: 30px;
            color: #a52a2a;
        }

        .descripcion_index {
            color: #000;
            font-size: 25px;
            font-family: random($limit: 1);
        }
    }


}

/* tarjetas sedes*/
.content_sedes {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    gap: 20px 20px;
    background-color: #000;
    

    .one_sedes,
    .two_sedes,
    .three_sedes {
        background-color: #000;
        border-radius: 5px;
        border: 1px solid rgb(35, 110, 117);
        width: 100%;
        height: 150px;
        margin: 10px;
        padding: 15px;


        .titulos_sedes {
            color: #a52a2a;
            font-size: 22px;

        }

        .descripcion_sedes {
            font-size: 15px;
            color: rgb(247, 247, 249);
            margin-top: 15px;
        }
    }

}



/* hover */
.one_sedes:hover,
.two_sedes:hover,
.three_sedes:hover {
    box-shadow: 0px 0px 10px 10px#bbf6e8;
    border: 1px solid rgb(35, 110, 117);



}

/* aplicando mixin */
@mixin tamanos($ancho, $alto) {
    width: $ancho;
    height: $alto ;
}

.card {
    @include tamanos (90%, 150px);
}



/* queries index */

@media only screen and (min-width: 320px) and (max-width: 520px) {
    .slider_index {
        height: 600px;
        width: 100%;

    }

    /* carrucel */
    .carousel-caption {
        .titulo_slider {
            font-size: 35px;
            animation: puff-in-center .7s cubic-bezier(.47, 0.000, .745, .715) both
        }

        .titulos_index {
            font-size: 20px;

        }

        .descripcion_index {

            font-size: 25px;
            font-family: random($limit: 1);
        }

        .button_index {
            font-size: 19px;
            margin-left: 2px;
            margin-bottom: 20px;
            margin-top: 10px;


        }

        .button_index:hover {

            color: rgb(4, 4, 41);
            background: rgb(85, 219, 229);
            background: rgb(242, 19, 242);
            background: linear-gradient(270deg, rgba(242, 19, 242, 1) 1%, rgba(229, 85, 187, 1) 51%, rgba(194, 124, 219, 1) 94%);
            border: 1px solid rgb(247, 7, 203);
        }
    }

    .nav-item:hover {
        transform: scale(1.1);
        border-bottom: 2px solid (#fff 30%, #318f96);

    }

    /* grid para mobile */
    .content_sedes {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        gap: 10px 10px;
        text-align: center;

        .one_sedes,
        .two_Sedes,
        .three_sedes {
            background: radial-gradient(#fff 50%, #b6f9f7);
            border-radius: 5px;
            border: 1px solid rgb(35, 110, 117);
            width: 100%;
            height: 100%;
            margin: 10px;
            padding: 10px;
            margin-left: 10px;
            margin-right: 10px;


            .titulos_sedes {
                color: #a52a2a;
                font-size: 20px;

            }

            .descripcion_sedes {
                font-size: 15px;
                color: rgb(0, 0, 5);
                margin-top: 15px;
            }
        }

    }


    .whatsapp:hover {
        transform: scale(1.1);

        .green_watsapp {
            cursor: pointer;
            color: rgb(202, 34, 102);
        }
    }
}

/* palabras claves de la animacion */


@keyframes puff-in-center {
    0% {
        transform: scale(2);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        filter: blur(0);
        opacity: 1
    }
}