/*amcho de las imagener en carrucel */
.slider_sedes {
    height: 900px;
    width: 100%;
    object-fit: cover;
}

/* tarjetas sedes*/
.content_sedes {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    gap: 20px 20px;
    background-color: #000;


    .one_sedes,
    .two_sedes,
    .three_sedes {
        background-color: #000;
        border-radius: 5px;
        border: 1px solid rgb(35, 110, 117);
        width: 100%;
        height: 150px;
        margin: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 15px;


        .titulos_sedes {
            color: #f96102;
            font-size: 22px;
            text-align: center;
        }

        .descripcion_sedes {
            font-size: 15px;
            color: rgb(247, 247, 249);
            
        }
    }

}



/* hover */
.one_sedes:hover,
.two_sedes:hover,
.three_sedes:hover {
    box-shadow: 0px 0px 10px 10px#bbf6e8;
    border: 1px solid rgb(35, 110, 117);



}

/* aplicando mixin */
@mixin tamanos($ancho, $alto) {
    width: $ancho;
    height: $alto ;
}

.card {
    @include tamanos (90%, 150px);
}



/* queries index */

@media only screen and (min-width: 320px) and (max-width: 520px) {

    .slider_sedes{
        width: 100%;
        height: 320px;
    }

    /* carrucel */
    .carousel-caption {
        .titulo_slider {
            font-size: 35px;
            animation: puff-in-center .7s cubic-bezier(.47, 0.000, .745, .715) both
        }

        .titulos_index {
            font-size: 20px;

        }

        .descripcion_index {

            font-size: 20px;
            font-family: random($limit: 1);
        }

        .button_index {
            font-size: 19px;
            margin-left: 2px;
            margin-bottom: 20px;
            margin-top: 10px;


        }


    }

    .nav-item:hover {
        transform: scale(1.1);
        border-bottom: 2px solid (#fff 30%, #318f96);

    }

    /* grid para mobile */
    .content_sedes {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        gap: 10px 10px;
        text-align: center;


        .one_sedes,
        .two_Sedes,
        .three_sedes {
            background-color: #000;
            border-radius: 5px;
            border: 1px solid rgb(35, 110, 117);
            width: 100%;
            height: 100%;
            margin-bottom: 20px;
            padding: 10px;

            color: #fff;


            .titulos_sedes {
                color: #f96102;
                font-size: 20px;

            }

            .descripcion_sedes {
                font-size: 15px;
                color: rgb(249, 249, 252);
                margin-top: 15px;
            }
        }

    }


    .whatsapp:hover {
        transform: scale(1.1);

        .green_watsapp {
            cursor: pointer;
            color: rgb(202, 34, 102);
        }
    }
}

/* palabras claves de la animacion */


@keyframes puff-in-center {
    0% {
        transform: scale(2);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        filter: blur(0);
        opacity: 1
    }
}