/* main tratamiento*/

.video_tratamiento {
    display: flex;
    flex-direction: column;
    display: grid;
    place-items: center;
    background: linear-gradient(rgb(252, 252, 255), rgb(91, 178, 198));

    .frase_tratamientos {
        font-size: 30px;
        color: #441b01;
        text-align: center;
    }

    iframe {
        width: 90%;
        height: 500px;

    }

    .button_tratamientos {
        cursor: pointer;
        width: 250px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid rgb(251, 252, 252);
        text-align: center;
        font-size: 20px;
        background-color: rgb(249, 247, 247);
        color: #f96102;
        box-shadow: 0px 0px 10px 10px#f8f4c7;
        font-family: 'Montserrat', sans-serif;
        margin-left: 30px;
        margin-bottom: 25px;
        margin-top: 10px;
        margin-left: 40px;
    }

    .button_tratamientos:hover {
        color: rgb(4, 4, 41);
        background: #bbf6e8;
        background: linear-gradient(90deg, #bbf6e8 26%, #c4f8fb 45%, #bbf6e8 65%);
        border: 1px solid #f4f8f8;
        box-shadow: 0px 0px 10px 10px#bbf6e8;
    }


}

/* grid tatamiento*/
.container-tratamiento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
    gap: 10px 10px;
    background: #080002;
    grid-auto-flow: row;
    grid-template-areas:

        "video_tratamiento video_tratamiento"
        "video_tratamiento video_tratamiento"
        "span1_tratamiento span2_tratamiento"
        "span3_tratamiento span4_tratamiento";


    .video_tratamiento {
        grid-area: video_tratamiento;
        margin-bottom: 20px;
    }

    .span1_tratamiento,
    .span2_tratamiento,
    .span3_tratamiento,
    .span4_tratamiento {
        grid-area: span1_tratamiento;
        display: flex;
        flex-direction: row;
        border-radius: 2px;
        width: 90%;
        height: 180px;
        background-color: #000506;
        text-align: center;
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 4px;

        .titulo_tratamiento {
            font-size: 20px;
            color: rgba(187, 246, 232, 1);
            margin-top: 10px;
        }

        .descripcion_tratamiento {
            color: #fefcfc;
            margin: 10px;
        }

        .img_tratamiento {
           
            width: 180px;
            height: 180px;
            object-fit: cover;
        }

    }

    .span1_tratamiento:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 7px 7px#bbf6e8;
    }

    .span2_tratamiento {
        grid-area: span2_tratamiento;

    }

    .span2_tratamiento:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 7px 7px#bbf6e8;
    }

    .span3_tratamiento {
        grid-area: span3_tratamiento;


    }

    .span3_tratamiento:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 7px 7px#bbf6e8;
    }

    .span4_tratamiento {
        grid-area: span4_tratamiento;

    }

    .span4_tratamiento:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 7px 7px#bbf6e8;
    }

}


/* queries tratamientos*/
@media only screen and (min-width: 320px) and (max-width: 520px) {
    .video_tratamiento {
        display: flex;
        flex-direction: column;
        display: grid;
        justify-content: center;
        place-items: center;
        background: linear-gradient(rgb(252, 252, 255), rgb(91, 178, 198));

        .frase_tratamientos {
            font-size: 15px;
            color: #050200;
        }

        iframe {
            width: 100%;
            height: 600px;
        }

        .img_tratamiento {
            width: 70px;
            height: 70px;

        }
    }

    .container-tratamiento {
        display: grid;
        place-items: center;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 5px 5px;
        width: 100%;
        grid-auto-flow: row;
        grid-template-areas:
            "video_tratamiento "
            "span1_tratamiento"
            "span2_tratamiento"
            "span3_tratamiento"
            "span4_tratamiento"
        ;


        .span1_tratamiento,
        .span2_tratamiento,
        .span3_tratamiento,
        .span4_tratamiento {
            grid-area: span1_tratamiento;
            margin-bottom: 2px;
            margin-top: 5px;
            display: flex;
            flex-direction: column;
            height: 100%;

            .descripcion_tratamiento {
                font-size: 14px;
            }


            .img_tratamiento {
                width: 150px;
                height: 150px;
                display: block;
                margin: auto;
                padding: auto;
            }
        }


        .span2_tratamiento {
            grid-area: span2_tratamiento;

        }

        .span3_tratamiento {
            grid-area: span3_tratamiento;

        }

        .span4_tratamiento {
            grid-area: span4_tratamiento;

        }
    }
}