/* main tratamiento*/

.video_tratamiento {
    display: flex;
    flex-direction: column;
    display: grid;
    place-items: center;
    background: linear-gradient(rgb(252, 252, 255), rgb(91, 178, 198));
       

    iframe {
        width: 90%;
       height: 500px;

    } 

    .button_tratamientos {
        cursor: pointer;
        width: 250px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid rgb(19, 0, 15);
        text-align: center;
        font-size: 20px;
        background: radial-gradient(rgb(211, 111, 184), rgb(198, 27, 47));
        color: black;
        font-family: 'Montserrat', sans-serif;
        margin-left: 30px;
        margin-bottom: 25px;
        margin-top: 10px;
        margin-left: 40px;
    }
    .button_tratamientos:hover{
        color: rgb(4, 4, 41);
    background: radial-gradient(#72FFFF, #6b1f6b);
            transform: scale(1.1);
    }

}

/* grid tatamiento*/
.container-tratamiento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 10px;

    grid-auto-flow: row;
    grid-template-areas:
        "video_tratamiento video_tratamiento"
        "video_tratamiento video_tratamiento"
        "span1_tratamiento span2_tratamiento"
        "span3_tratamiento span4_tratamiento";


    .video_tratamiento {
        grid-area: video_tratamiento;
        margin-bottom: 20px;
    }

    .span1_tratamiento {
        grid-area: span1_tratamiento;
        display: flex;
        flex-direction: row;
        border-radius: 2px;
        width: 90%;
        height: 200px;
        background-color: #93daeb;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 5px;

        .titulo_tratamiento {
            font-size: 20px;
            color: brown;
        }

        .descripcion_tratamiento {
            color: rgb(7, 0, 0);
        }

        .img_tratamiento {
            width: 180px;
            height: 180px;
        }

    }

    .span1_tratamiento:hover {
        transform: scale(1.1);
    }

    .span2_tratamiento {
        grid-area: span2_tratamiento;
        display: flex;
        flex-direction: row;

        border-radius: 2px;
        width: 90%;
        height: 200px;
        background-color: #93daeb;
        text-align: center;
        margin: 0 auto;

        .titulo_tratamiento {
            font-size: 20px;
            color: brown;
        }

        .descripcion_tratamiento {
            color: rgb(7, 0, 0);
        }

        .img_tratamiento {
            width: 180px;
            height: 180px;
        }
    }

    .span2_tratamiento:hover {
        transform: scale(1.1);
    }

    .span3_tratamiento {
        grid-area: span3_tratamiento;
        display: flex;
        flex-direction: row;
        border-radius: 2px;
        width: 90%;
        height: 200px;
        background-color: #93daeb;
        text-align: center;
        margin: 0 auto;

        .titulo_tratamiento {
            font-size: 20px;
            color: brown;
        }

        .descripcion_tratamiento {
            color: rgb(7, 0, 0);
        }

        .img_tratamiento {
            width: 180px;
            height: 180px;
        }

    }

    .span3_tratamiento:hover {
        transform: scale(1.1);
    }

    .span4_tratamiento {
        grid-area: span4_tratamiento;
        display: flex;
        flex-direction: row;
        border-radius: 2px;
        width: 90%;
        height: 200px;
        background-color: #93daeb;
        text-align: center;
        margin: 0 auto;

        .titulo_tratamiento {
            font-size: 20px;
            color: brown;
        }

        .descripcion_tratamiento {
            color: rgb(7, 0, 0);
        }

        .img_tratamiento {
            width: 180px;
            height: 180px;
        }
    }

    .span4_tratamiento:hover {
        transform: scale(1.1);
    }

}

/* queries tatamiento*/



/* queries tratamientos*/
@media only screen and (min-width: 320px) and (max-width: 520px) {
    .video_tratamiento {
        display: flex;
        flex-direction: column;
        display: grid;
        justify-content: center;
        place-items: center;
        background: linear-gradient(rgb(252, 252, 255), rgb(91, 178, 198));

        iframe {
            width: 100%;
            height: 600px;
        }

        .img_tratamiento {
            width: 70px;
            height: 70px;

        }
    }

    .container-tratamiento {
        display: grid;
        place-items: center;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 5px 5px;
        width: 100%;
        grid-auto-flow: row;
        grid-template-areas:
            "video_tratamiento "
            "span1_tratamiento"
            "span2_tratamiento"
            "span3_tratamiento"
            "span4_tratamiento"
        ;


        .span1_tratamiento {
            grid-area: span1_tratamiento;
            margin-bottom: 2px;
            font-size: 15px;
            display: flex;
            flex-direction: column;
            height: 100%;



            .img_tratamiento {
                width: 150px;
                height: 150px;
                display: block;
                margin: auto;
                padding: auto;
            }
        }


        .span2_tratamiento {
            grid-area: span2_tratamiento;
            margin-bottom: 2px;
            font-size: 15px;
            display: flex;
            flex-direction: column;
            height: 100%;

            .img_tratamiento {
                width: 150px;
                height: 150px;
                display: block;
                margin: auto;
                padding: auto;
            }
        }

        .span3_tratamiento {
            grid-area: span3_tratamiento;
            margin-bottom: 2px;
            font-size: 15px;
            display: flex;
            flex-direction: column;
            height: 100%;

            .img_tratamiento {
                width: 150px;
                height: 150px;
                display: block;
                margin: auto;
                padding: auto;
            }
        }

        .span4_tratamiento {
            grid-area: span4_tratamiento;
            margin-bottom: 2px;
            font-size: 15px;
            display: flex;
            flex-direction: column;
            height: 100%;

            .img_tratamiento {
                width: 150px;
                height: 150px;
                display: block;
                margin: auto;
                padding: auto;
            }
        }
    }
}