@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import 'footer';
@import 'index';

/* encabezado*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

header {
    overflow: hidden;
    background: linear-gradient(to right, #fff 30%, #55dbe5);
    top: 0;
    width: 100%;
    z-index: 100%;
    position: sticky;
    z-index: 100%;

    .navbar navbar-expand-lg navbar-light bg-light-nav {
        background: linear-gradient(to right, #fff 30%, #55dbe5);
        position: sticky;

        .container-fluid {
            background: linear-gradient(to right, #fff 30%, #55dbe5);
            padding: 0;            

            .logo_index {
                width: 70px;
                height: 70px;
            }

        }
    }
}

.logo_index {
    width: 70px;
    height: 70px;
}

.nav-item:hover {
    transform: scale(1.1);
    border-bottom: 2px solid #c6e555;

}

/*  fin encabezado*/

